.footer-top{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 40px;
}
.footer-mid {
    display: flex;
    flex-direction: column;
    color: white;
}
.footer{
    display: flex;
    flex-direction: row;
    gap: 300px;
    background-color: #3a3431;
    columns: white;
    height: 500px;
    width: 1500px;
    margin: 0;
}
.middle-part {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    color: white;
}
.footer-mid a {
    color: white;
    text-decoration: none;
}
.middle-part a{
    color: white;
    text-decoration: none;
}
